
  
.cart {
  margin-top: 120px;
  min-width: 1340px;
  display: flex;
  justify-content: space-between;

  &_form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;}
    & h3{
        font-size: 30px;
        line-height: 0;
    }
    & p{
        color: black;
        font-weight: 700;
        line-height: 0;
    }

  &_card-list{
    & .card{
        display: flex;
        gap: 10px;
    }
    & .card_img{
        width: 50px;
        height: 80px;
    }
    
  }
  &_close-button{      
    right: -50px;
}
  & form{
    margin-top: 30px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: start;
    grid-template-rows: max-content;
  }
  &_form-item {
    display: flex;
    flex-direction: column;
   align-items: flex-start;
  
    & label{
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
    }
    & input {
      border: none;
      border-radius: 8px;
      background-color: rgb(234 234 234);
      width: 382px;
      height: 65px;
      padding-left: 10px;
    }
    
  }
  & button{
    grid-column: span 2;
    max-width: 320px;
    height: 70px;
}
}
