.card-store {
  position: relative;
  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 60px;
    &-table{
      margin-top: 60px;   
      display: grid;
     width: 80vw;
     max-width: 1280px;
      gap: 60px;      
    }
    
  }
  &_table-item{
    display: flex;
    flex-direction: row;
    position: relative;
   gap: 60px;
        }
  &_img {
    border-radius: 10px;
    width: 300px;
    height: 420px;
    object-fit: cover;
  }
  &_select-star{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &_text-block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    &--table{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 60px;
    width: 100%;
   justify-content:space-between
    }
  }
  &_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_title {
    font-weight: 700;
    font-size: 17px;
    color: #2a2f2f;
    overflow-wrap: break-word;
  }
  &_product-color {
    font-size: 14px;
  }
  &_price {
    border-radius: 8px;
    width: 62px;
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #3c4242;
    background-color: #f6f6f6;
    &-container--table{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      gap: 160px;
    }
  }
  &_add-to-cart {
    font-size: 12px;
    width: 68px;
    height: 20px;
    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: rgb(193, 139, 191);
  }
}
.selected-star{
  & path{
    fill: gold;
  }
}
.btn-toggler{
  &_group{
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;}
  &_button{
    font-size: 20px;
   
    &:hover{
      background-color: #9379b6;
      color: #fff;
    }
  }
}
.active-button{
  background-color: #8A33FD;
  color: #fff;
  border:#8A33FD;
}