.modal{
    border-radius: 16px;
    box-sizing: border-box;
    width: 560px;
    
padding: 40px 55px;

box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #fff;
display: flex;
flex-direction: column;

align-items: center;
position: relative;

    &-wraper{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center; 
        align-items: center;
        z-index: 99;    
        padding:30px 0;
        background-color: rgba(0, 0, 0, 0.5)
    }
    &_button{
        width: 192px;
        height: 48px;
        font-size: 16px;
        border-radius: 10px;    
       margin-top: 10px;
    }
   &_footer{
    display: flex;
    justify-content: center;
    gap: 64px;
   }
   &_close-button{
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    color: #999;
    font-size: 24px;
    cursor: pointer;
   }
   &_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
   }

}
.button{
    &-violet{
        background-color: #8A33FD;
        border: none;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    &-white{
        color: #8A33FD;
       border: black 2px solid;
    }
&-start{
    margin: 0 20px;
    padding: 15px 20px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 2px solid black;
}
    
}
img{
    width: 300px;
    height: 420px;
    margin-bottom: 30px;
}
h2{
   
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    line-height: 0;
   
}
p{
    color: #7F7F7F;
    font-size: 20px;
    flex-wrap: wrap;
    font-weight: 500;
}