.header{
    position: fixed;
    z-index: 99;
   background-color: #fff;
    top: 0;
    width: 80%;
    margin: auto;
    max-width: 1280px;
padding: 30px;
    display: flex;
    font-weight: 700;
font-size: 22px;
color: #3c4242;

justify-content: space-between;
&_logo{
    color: #3c4242;
   font-size: 36px;
   margin-right: 30px;
}
&_menu{
    display: flex;
    align-items: center;
    &-list{
        display: flex;
        font-display: row;
        gap: 30px;
        list-style: none;
    }
}

&_icons{
    display: flex;
    align-items: center;
    gap: 40px;
    &-selected{
        position: relative;
    }
    &-cart{
        position: relative;
        
    }
   
   &-counter{
    position: absolute;
    right: -3px;
    top: -31px;
   }
}
}